<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!-- 允许 JDBC 支持自动生成主键，需要数据库驱动支持。如果设置为 true，将强制使用自动生成主键。尽管一些数据库驱动不支持此特性，
        但仍可正常工作（如 Derby） -->
        <setting name="useGeneratedKeys" value="true"/>
        <!-- 使用列标签代替列名。实际表现依赖于数据库驱动，具体可参考数据库驱动的相关文档，或通过对比测试来观察。 -->
        <setting name="useColumnLabel" value="true"/>
        <!-- 是否开启驼峰命名自动映射，即从经典数据库列名 A_COLUMN 映射到经典 Java 属性名 aColumn。  -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
<!--    <typeAliases>-->
<!--        <typeAlias type="com.wzx.entity.Seckill" alias="Seckill"/>-->
<!--        <typeAlias type="com.wzx.entity.SuccessKilled" alias="SuccessKilled"/>-->
<!--    </typeAliases>-->

<!--    <mappers>-->
<!--        <mapper resource="mapper/SeckillDaoMapper.xml"/>-->
<!--    </mappers>-->
</configuration>